[build]
  publish = "."

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "no-referrer"
    Content-Security-Policy = "default-src 'self' https: 'unsafe-inline' 'unsafe-eval' blob: data:; img-src 'self' https: data: blob:; connect-src 'self' https:;"
